.keyboard {
  width: 1000px;
  height: 350px;
  margin: 0 auto;
  background: rgb(209, 174, 161);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  // column-gap: 0.1vw;
}
