.keyboard {
  width: 80vw;
  height: 80vh;
  margin: 10vh auto;
  background: coral;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  // column-gap: 0.1vw;
}
